 <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
 <% end %>


<%= semantic_form_for @equipment do |f| %>
 <%= f.inputs "General informations", :id => "general" do %>
	<%= f.input :name, :input_html => { :readonly => @ReadOnlyField } %>
	<%= f.input :tag, :input_html => { :readonly => @ReadOnlyField } %>
	<%= f.input :description, :input_html => { :class => 'autogrow', :rows => 3, :cols => 50, :maxlength => 250, :readonly => @ReadOnlyField  } %>
	<%= f.input :note, :input_html => { :class => 'autogrow', :rows => 3, :cols => 50, :maxlength => 250, :readonly => @ReadOnlyField  } %>
 <% end %>
 <%= f.inputs "Dimensions", :id => "dimensions" do %>
	<%= f.input :length, :input_html => { :readonly => @ReadOnlyField } %>
	<%= f.input :width, :input_html => { :readonly => @ReadOnlyField } %>
	<%= f.input :height, :input_html => { :readonly => @ReadOnlyField } %>
 <% end %>
 <%= f.inputs "Mechanical Services", :id => "mechanicalservices" do %>
	<%= f.input :domesticcoldwater, :label => "Domestic Cold Water", :input_html => { :disabled => @ReadOnlyField } %>
	<%= f.input :domestichotwater, :label => "Domestic Hot Water", :input_html => { :disabled => @ReadOnlyField }  %>
	<%= f.input :drainage, :label => "Drainage", :input_html => { :disabled => @ReadOnlyField }  %>
	<%= f.input :hotwater, :label => "Heating Hot Water", :input_html => { :disabled => @ReadOnlyField }  %>
	<%= f.input :chilledwater, :label => "Chilled Water", :input_html => { :disabled => @ReadOnlyField }  %>
	<%= f.input :purifiedwatertype1, :label => "Purified Water Type I", :input_html => { :disabled => @ReadOnlyField }  %>
	<%= f.input :purifiedWatertype2, :label => "Purified Water Type II", :input_html => { :disabled => @ReadOnlyField }  %>
	<%= f.input :purifiedwatertype3, :label => "Purified Water Type III", :input_html => { :disabled => @ReadOnlyField }  %>
	<%= f.input :naturalgas, :label => "Natural Gas", :input_html => { :disabled => @ReadOnlyField }  %>
	<%= f.input :propane, :label => "Propane", :input_html => { :disabled => @ReadOnlyField }  %>
	<%= f.input :compressedair, :label => "Compressed Air", :input_html => { :disabled => @ReadOnlyField }  %>
	<%= f.input :nitrogen, :label => "Nitrogen", :input_html => { :disabled => @ReadOnlyField }  %>
 <% end %>
 <%= f.inputs "Energy Model", :id => "energymodel" do %>
	<%= f.input :power, :input_html => { :readonly => @ReadOnlyField } %>
	<%= f.input :fractionlatent, :label => "Fraction Latent", :input_html => { :readonly => @ReadOnlyField } %>
	<%= f.input :fractionradiant, :label => "Fraction Radiant", :input_html => { :readonly => @ReadOnlyField } %>
	<%= f.input :fractionlost, :label => "Fraction Lost", :input_html => { :readonly => @ReadOnlyField } %>
	<%= f.input :endusesubcategory, :label => "End Use Subcategory", :input_html => {:rows =>1, :cols => 30, :readonly => @ReadOnlyField} %>
 <% end %>
 
<%= f.inputs "Datasheet", :id => "datasheet" do %>
	
	<%= f.input :datasheet, :as => :file %>
<% end %>

	<%= f.actions do %>
 	<%= f.action :submit %>
	<% end %>

<% end %>
     
