<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @equipment.tag %>
</p>

<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equipment.description %>
</p>

<p>
  <strong>Note:</strong>
  <%= @equipment.note %>
</p>

<p>
  <strong>Length:</strong>
  <%= @equipment.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @equipment.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @equipment.height %>
</p>

<p>
  <strong>Power:</strong>
  <%= @equipment.power %>
</p>

<p>
  <strong>Fractionlatent:</strong>
  <%= @equipment.fractionlatent %>
</p>

<p>
  <strong>Fractionradiant:</strong>
  <%= @equipment.fractionradiant %>
</p>

<p>
  <strong>Fractionlost:</strong>
  <%= @equipment.fractionlost %>
</p>

<p>
  <strong>Endusesubcategory:</strong>
  <%= @equipment.endusesubcategory %>
</p>

<p>
  <strong>Domesticcoldwater:</strong>
  <%= @equipment.domesticcoldwater %>
</p>

<p>
  <strong>Domestichotwater:</strong>
  <%= @equipment.domestichotwater %>
</p>

<p>
  <strong>Hotwater:</strong>
  <%= @equipment.hotwater %>
</p>

<p>
  <strong>Chilledwater:</strong>
  <%= @equipment.chilledwater %>
</p>

<p>
  <strong>Drainage:</strong>
  <%= @equipment.drainage %>
</p>

<p>
  <strong>Purifiedwatertype1:</strong>
  <%= @equipment.purifiedwatertype1 %>
</p>

<p>
  <strong>Purifiedwatertype2:</strong>
  <%= @equipment.purifiedWatertype2 %>
</p>

<p>
  <strong>Purifiedwatertype3:</strong>
  <%= @equipment.purifiedwatertype3 %>
</p>

<p>
  <strong>Naturalgas:</strong>
  <%= @equipment.naturalgas %>
</p>

<p>
  <strong>Propane:</strong>
  <%= @equipment.propane %>
</p>

<p>
  <strong>Compressedair:</strong>
  <%= @equipment.compressedair %>
</p>

<p>
  <strong>Nitrogen:</strong>
  <%= @equipment.nitrogen %>
</p>

<p>
  <strong>Datasheet:</strong>
  <%= @equipment.datasheet %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
