<h1>BLDG</h1>
<p><%= link_to 'Rooms', rooms_path %>
<p><%= link_to 'Schedules', schedules_path %>
<p><%= link_to 'Equipment database', equipment_index_path %>
<p><%= link_to 'Plumbing fixtures database', plumbing_fixtures_path %>

<p><%= button_to "Generate Electric Equipment IDF", {:controller => "generate_idf", :action => 'ElectricEquipment'}, :method => :get %>
<p><%= button_to "Download Room PDF", {:controller => "rooms", :action => 'reportall', :format => 'pdf' }, :method => :get %>

<p><%= link_to 'Room PDF', rooms_reportall_path(:format => 'pdf') %>
