<% @ASHRAE2001Collection = Ashrae62.where(version: 2001).order("vocation ASC").map{ |s| ["#{s.vocation}", s.id]} %>
<% @ASHRAE2007Collection = Ashrae62.where(version: 2007).order("vocation ASC").map{ |s| ["#{s.vocation}", s.id]} %>
<% @EquipmentCollection = Equipment.order("tag ASC").map{ |s| ["#{s.tag}"+" - "+"#{s.name}", s.id]} %>
 

  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= semantic_nested_form_for(@room) do |f| %>
	<%= f.inputs "General informations", :id => "general" do %>
		<%= f.input :spacename, :label => "Room Name" %>
		<%= f.input :spacenumber, :label => "Room Number" %>
		<%= f.input :area, :label => "Area (m2)" %>
		<%= f.input :Height, :label => "Height (m)" %>
		<%= f.input :Occupancy, :label => "Number of Occupants" %>
 	<% end %>
	<%= f.inputs "Outdoor air ventilation rate", :id => "general" do %>
		<%= f.input :ASHRAE2001, :as => :select, :collection => @ASHRAE2001Collection, :label => "ASHRAE 2001 Occupancy category" %>
		<%= f.input :ASHRAE2007, :as => :select, :collection => @ASHRAE2007Collection, :label => "ASHRAE 2007 Occupancy category" %>
		<%= f.input :AirDistributionEffectiveness, :label => "Air Distribution Effectiveness (Ez)", :as => :select, :collection => ["0.5","0.7","0.8","1.0","1.2"] %>
 	<% end %>
 	<%= f.inputs "Temperature and humidity setpoints", :id => "general" do %>
		<%= f.input :SummerTemperatureSetpoint, :label => "Summer Temperature Setpoint (°C)" %>
		<%= f.input :WinterTemperatureSetpoint, :label => "Winter Temperature Setpoint (°C)" %>
 		<%= f.input :SummerHumiditySetpoint, :label => "Summer Humidity Setpoint (%)" %>
 		<%= f.input :WinterHumiditySetpoint, :label => "Winter Humidity Setpoint (%)" %>
 	<% end %>
 	<%= f.inputs "Ventilation", :id => "general" do %>
		<%= f.input :RoomPressurization, :as => :select, :collection => ["Neutral","Positive","Negative"], :label => "Room Pressurization" %>
 	<% end %>
 	
	<%= f.inputs "Energy Model", :id => "general" do %>
		<%= f.input :ThermalZone, :label => "Thermal Zone" %>
 	<% end %>

	<%= f.inputs "Room Equipments", :id => "general" do %>
		<%= f.semantic_fields_for :room_equipments do |nf| %>
			<%= nf.select :tag, @EquipmentCollection %>
			<%= nf.text_field :quantity %>
			<%= nf.link_to_remove "Remove" %>
		<% end %>
	<%= f.link_to_add "Add equipment", :room_equipments %></p>
	<% end %>
	<%= f.actions %>
 <% end %>


