<% @ASHRAE2001Collection = Ashrae62.where(version: 2001).order("vocation ASC").map{ |s| ["#{s.vocation}", s.id]} %>
<% @ASHRAE2007Collection = Ashrae62.where(version: 2007).order("vocation ASC").map{ |s| ["#{s.vocation}", s.id]} %>
 

  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= semantic_form_for(@room) do |f| %>
	<%= f.inputs "General informations", :id => "general" do %>
		<%= f.input :spacename, :label => "Room Name" %>
		<%= f.input :spacenumber, :label => "Room Number" %>
		<%= f.input :area, :label => "Area (m2)" %>
 	<% end %>
	<%= f.inputs "Outdoor air ventilation rate", :id => "general" do %>
		<%= f.input :ASHRAE2001, :as => :select, :collection => @ASHRAE2001Collection, :label => "ASHRAE 2001 Occupancy category" %>
		<%= f.input :ASHRAE2007, :as => :select, :collection => @ASHRAE2007Collection, :label => "ASHRAE 2007 Occupancy category" %>
 	<% end %>
	<%= f.actions do %>
 		<%= f.action :submit %>
	<% end %>
<% end %>


