<h1>Editing room</h1>

<%= render 'form' %>

<h2>Equipments</h2>

<%= render 'room_equipments/show' %>
<%= link_to 'Add equipment', room_room_equipments_path(@room) %> 

<p>
<%= link_to 'Show', @room %> 
<%= link_to 'Back', rooms_path %>
</p>
