<p id="notice"><%= notice %></p>
<h1>
 <strong>Space Name:</strong>
  <%= @room.spacename %>
</h1>
<h2>General informations</h2>
<p>
  <strong>Space Number:</strong>
  <%= @room.spacenumber %>
</p>

<p>
  <strong>Area:</strong>
  <%= @room.area %>
</p>

<p>
  <strong>Custom Room Occupancy: </strong>
  <% if @room.Occupancy? %>
	<%= @room.Occupancy %>
  <% else %>
	Undefined
  <% end %>
</p>
<p>
  <strong>Default Room Occupancy: </strong>
  <%= number_with_precision(@DefaultRoomOccupancy = (@Ashrae62_2001.OccupantDensity/100)*@room.area, precision: 0)  %>
</p>

  <h2>ASHRAE 62.1-2001 - Outdoor Air flow rate calculation</h2>

	<table>
	<tr>
	 <th>Occupancy Category</th>
	 <th>People Outdoor Air Rate (Rp) - cfm/person</th>
	 <th>Area Outdoor Air Rate (Ra) - cfm/ft2</th>
	 <th>Air Distribution Effectiveness (Ez)</th>
	 <th>Outdoor Air Rate(Voz)</th>
	</tr>
	<tr>
	 <td><%= @Ashrae62_2001.vocation %></td>
	 <td><%= @Ashrae62_2001.rp_ip %></td>
	 <td><%= @Ashrae62_2001.ra_ip %></td>
	 <td><%= @room.AirDistributionEffectiveness %></td>
	 <td><%= calc_ashrae62(@room.id,@room.ASHRAE2001) %></td>
	</tr>
  	</table>

	<% if @room.Occupancy.blank? %>
	<p>
	<strong>Default occupation density used</strong>
	</p>  	
	<% end %>




  <h2>ASHRAE 62.1-2007 - Outdoor Air flow rate calculation</h2>

	<table>
	<tr>
	 <th>Occupancy Category</th>
	 <th>People Outdoor Air Rate (Rp) - cfm/person</th>
	 <th>Area Outdoor Air Rate (Ra) - cfm/ft2</th>
	 <th>Air Distribution Effectiveness (Ez)</th>
	 <th>Outdoor Air Rate(Voz)</th>
	</tr>
	<tr>
	 <td><%= @Ashrae62_2007.vocation %></td>
	 <td><%= @Ashrae62_2007.rp_ip %></td>
	 <td><%= @Ashrae62_2007.ra_ip %></td>
	 <td><%= @room.AirDistributionEffectiveness %></td>
	 <td><%= calc_ashrae62(@room.id,@room.ASHRAE2007) %></td>
	</tr>
  	</table>

	<% if @room.Occupancy.blank? %>
	<p>
	<strong>Default occupation density used</strong>
	</p>  	
	<% end %>




	
<h2>Outdoor air critical case</h2>
<p>
<%= [calc_ashrae62(@room.id,@room.ASHRAE2001),calc_ashrae62(@room.id,@room.ASHRAE2007)].max %> cfm.
</p>



<h2>Equipments</h2>
<table>
<tr>
 <th>Tag</th>
 <th>Name</td>
 <th>Quantity</th>
</tr>


<% @room.room_equipments.each do |eq| %>
<% @equipment = Equipment.find(eq.tag) %>
<tr> 
 <td><%= @equipment.tag %></td>
 <td><%= @equipment.name %></td>
 <td><%= eq.quantity %></td>
</tr>

<% end %>

</table>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
